<h2>Upload a new Picture: </h2>

<form class="" action="/pictures" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title">
  <label for="name">Description:</label>
  <input type="text" name="description">
  <label for="name">URL:</label>
  <input type="url" name="image_url">

  <input type="submit" name="" value="Upload Picture">
</form>