<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>SinatraColouringGalleryApp</title>

  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>

    <!--<div class="container">-->
    
        <header>
            <nav>
                <% if logged_in? %>
                <ul>
                    <li><a href="/logout">Log Out</a></li>
                    <li><a href="/pictures">Colouring Gallery</a></li>
                    <li><a href="/pictures/new">New Picture</a></li>
                    <li><a href="/my_pictures">My Pictures</a></li>
                </ul>
                <% end %>
            </nav>
        </header>
    