

<section id="login" class="sessions">
<h2><strong>Please sign up</strong></h2>


<form class="" action="/users" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" value="">
  <label for="email">Email: </label>
  <input type="text" name="email" value="">
  <label for="password">Password: </label>
  <input type="text" name="password" value="">
  
  <button type="submit">Create User</button>
</form>
<br>
<strong><a href="/">>>Back</a></strong>
</section>

