<div class="container">
  <h1>Welcome to Colouring Gallery!</h1>

  <h3><span style="margin: 0 10px "><a href="/login">Log In</a></span> OR <span style="margin: 0 10px"><a href="/signup">Sign Up</a></span></h3>
</div>

<!--style="text-decoration: none"-->